
 *{
  margin:0;
  padding:0;
  box-sizing: border-box;
}  
.app-header{
  
   background-size:cover; 
  position: relative;
  background-image:url('./Assets/pic4-bg.jpg');
  background-position:center; 
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
.title{
  font-size:30px ;
  font-family: cursive;
  text-align: center;
  font-weight: 900; 
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  color:gold;
  
}
.inputForm{
  font-family: cursive;
  text-align: center;
  color:gold;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  
} 

input{
  color:gray;
  background-color:#fff ;
  border-radius:35px;
  margin-top:-25px;
  font-size: 20px;

  
}
button{
  color:gray;
  /* background-color: #fff; */
  border-radius:15px;
  margin-top:-25px;
  font-size: 20px;
  
}



img{
  width: 100px; 
}

#temp{
  font-size: 40px;
}

#table{
display: inline-table;
}
  



/* .App{
  font-family: 'cursive';
  transition: 0.4s ease-out;
  color:#fff; 
  text-align: center;
  font-size: 40px;
  font-weight: 900; 
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5); 
}  */



/* .App{
  text-align: center;
  position: relative;
  display:inline-block;
  margin: 30px auto;
  background-color: rgba (255, 255, 255, 0.2); 
  background-image:url('./Assets/weather-bg.jpg');
  background-size: cover;
  background-position:center;  
  border-radius: 100px;  
  padding: 15px 20px; 
  color: #fff;
  font-size: 100px;
  font-weight: 900; 
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);

} */

 /* .App{
  background-image:url('./Assets/weather-bg.jpg');  
  background-size: cover;
  background-position:center;
  transition: 0.4s ease-out;
}

.App.warm {
  background-image:url('./Assets/warmWeathre-bg.jpg');
} 
 */

/* main{
  min-height: 100vh;
   background-image:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75)) ;  
  padding:25px; */

/* } 
.search-box{
  width:100%;
  margin:0 0 75px;
}

.search-box.search-bar{
  display: block;
  width: 100%;
  padding:15px;
  appearance: none;
  background: none;
  border: none;
  outline:none;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 0px,0px,16px,16px;
  margin-top:-25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition:0.4s ease;
  
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.75);

}
.location-box .location{
  color: #fff;
  font-size: 32px;
  font-weight:500;
  text-align:center;
  text-shadow:3px 3px rgba(50,50,70,0.5);
}
.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight:300;
  text-align:center;
  font-style:italic;
  text-shadow:2px 2px rgba(50,50,70,0.5);
  
} */
 


